/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {      
            margin: 0;
            padding: 0;
            box-sizing:border-box ;
            font-family: "Poppins", sans-serif;
            background-color: #0B60B0;
        }
        .container {
            
            width: 350px;
            margin: auto;
            padding: 30px 15px;
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 70px;
        }

        h4{
            font-weight: 600;
            text-align: center;
            font-size: large;
        }

        #mas{
            text-align: center;
            font-size: small;
        }

        a{
            color: #0B60B0;
            text-decoration: none;
            font-weight: 500;
        }
        
        .form-group {
            margin-bottom: 15px;
            padding-left: 35px;
            padding-right: 35px;
        }

        .form-group label {
            display: block;
            font-weight: 500;
            margin-bottom: 0px;
            font-size: small;
        }
        .form-group input {
            width: 100%;
            padding: 8px;
            border: 1px solid #cccccca3;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .form-group input[type="submit"] {
            background-color: #0B60B0;
            color: #fff;
            cursor: pointer;
            padding: 12.5px;
            margin-top: 25px;
        }

        .form-group input[type="submit"]:hover {
            background-color: #537acf;
        }

        #checkbox {
            margin-left: 36px !important;
            
        }

        .form-group-box p{
           font-size: small;
            display:inline;
             
        }
          #red{
            background-color: rgb(221, 4, 4);
        }